<div class="row" style="margin-top: 15vh;">
  <div class="offset-2"></div>
    <div class="col">
    <app-source-card >
      <app-source-card-content>
        <div class="row" style="padding: 30px;">
          <div class="col" style="text-align: center;">
            <img src="assets/Sourcelogo.png" width="500px"/>
            <div class="col">
              <mat-form-field appearance="outline" style="width: 65%;">
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" style="width: 65%;">
                <mat-label>Password</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div>
              <button class="btn btn-lg btn-primary sign-in-button">Sign in</button>
            </div>
          </div>
        </div>
      </app-source-card-content>
    </app-source-card>
    </div>
  <div class="offset-2"></div>
</div>